[submodule "RunnerRhythmUnityProject/Assets/CHBase"]
	path = RunnerRhythmUnityProject/Assets/CHBase
	url = git@gitee.com:catheaven/chbase.git
	branch = develop
[submodule "GoogleSpreadSheetsTools"]
	path = GoogleSpreadSheetsTools
	url = git@gitee.com:catheaven/googlespreadsheetstools.git
	branch = RRVer
[submodule "RunnerRhythmUnityProject/Assets/unity-ui-extensions"]
	path = RunnerRhythmUnityProject/Assets/unity-ui-extensions
	url = https://bitbucket.org/UnityUIExtensions/unity-ui-extensions.git
